<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Speed typing app.</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="wrapper">
    <h1>Speed typing app</h1>
    <div class="btn-holder">
      <button type="button" name="runTrainer">Run trainer</button>
      <button type="button" name="stopTrainer">Stop Trainer</button>
      <select name="chooseLanguage" id="chooseLanguage">
        <option selected value=""> Choose language</option>
      </select>
      <button type="button" name="makeKeyboardJS">JS keyboard</button>
      <button type="button" name="makeKeyboardLodash">Lodash keyboard</button>
    </div>

    <div class="block">
      <p class="container">
        <span> Best result: <mark id="bestKps"> 0 </mark> kps </span>
        <span> KPS: <mark id="kps"> 0 </mark> per second </span>
        <span>Timer: <mark id="timer"> 0.0s </mark></span>
        <span>Keys quantity:
          <input id="keysQuantity" class="keysQuantity">
          <button type="button" name="setKeys">Set</button>
        </span>
      </p>
    </div>

    <div class="block">
      <p id="string" class="string"> Here will be a string to training speed-typing. </p>
    </div>

    <!-- begin keyboard container -->
    <div class="container">
      <div id="root" class="block">
        <div></div>
      </div>
      <div class="console block">
        <h2> Console </h2>
        <p id="console"></p>
      </div>
    </div>
    <!-- end keyboard conainer -->

    <audio src="audio/2.wav" data-note="do"></audio>
    <audio src="audio/3.wav" data-note="re"></audio>
    <audio src="audio/4.wav" data-note="mi"></audio>
    <audio src="audio/err1.wav" data-note="err"></audio>

    <script src="js/lodash.js"></script>

    <!-- begin key template -->
    <script id="key-tmp" type="text/template">
      <button class="keyboard__btn" data-note="<%- note %>"><%-alphabet[i]%></button>
    </script>
    <!-- end key template -->

    <!-- begin keyboard template -->
    <script id="keyboard-tmp" type="text/template">
      <div class="keyboard">
        <h2>Lodash keyboard</h2>
        <div>
          <%= typeTrainer.makeKeyboardRow(0, 12, 'do') %>
        </div>
        <div>
          <%= typeTrainer.makeKeyboardRow(12, 11, 're') %>
        </div>
        <div>
          <%= typeTrainer.makeKeyboardRow(23, 10, 'mi') %>
        </div>
        <div>
          <button class="keyboard__space" type="button" name="Space" data-note="mi"></button>
        </div>
        <label>
          <input type="checkbox">
          Mute sound
        </label>
      </div>
    </script>
    <!-- end keyboard template -->

    <script src="js/index.js"></script>
  </div>
</body>
</html>
